.anchor { padding-top: 100px; }

// Social media
.social-media i{
  padding: 15px;
  color: $white;
  transition: all 200ms ease-in;
}
.social-media a:hover {
    color: #673ab7 !important;
    text-decoration: none;
}
/*===============Projects menu=================*/
.dropdown-menu-right{
  color: $dark;
  background-color: $bg-dark;
}
.dropdown-item:hover {
  background: $bg-dark;
}

//overlay-text
.overlay-text {
    z-index: 1;
}

// First slide
.first-slide {
    position: relative;
    // height:100vh;
    background: #f8f9fa;
    margin-top:0px;
    margin-bottom: 40px;
}

//Second slide
.second-slide{
    padding-top: 100px;
}
.second-slide .heading-v1::after{
  border-color: $skincolor;
}

//Third slide
.third-slide{
  margin-top: 100px;
  padding: 60px 0;
  margin-bottom: 100px;
  padding-top: 90px;
}

.heading-v1:after{
  content: "";
    display: inline-block;
    border-top-style: solid;
    border-color: inherit;
    margin-top: 1.07143rem;
    width: 5rem;
    border-top-width: 1px;
}

.list-style-1 li {
    position: relative;
    padding-bottom: 10px;
    padding-left: 25px;
}

.list-style-1 li:before{
  content: "\2714\0020";
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 10px;

}

//forth-slide
.fourth-slide{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

// fifth slide
.fifth-slide{
  margin-bottom: 100px;
  padding-top: 100px;
}

//sixth -slide
.sixth-slide{
  background: $skincolor;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*=================Headings=================*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $primary-font;
  margin-bottom: .5rem;
  line-height: 1.5;
  color: $dark;
}

h1 {
  font-family: $tangerine;
  font-size: 2.0rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

/*=================Buttons=================*/
.btn{
  border-radius: 50px;
  border: 3px solid white;
  text-transform: uppercase;
  &:focus{
    box-shadow: 0 0 0 0px;
  }
}

.btn-theme{
  color:$white;
  background: $skincolor;
  border-color: $skincolor;
}
  .btn-theme :hover {
     background: #f8f9fa;
     border:3px solid $skincolor;
}

.btn-outline-theme {
  color:$skincolor;
  border: 3px solid $skincolor;
  background: transparent;
  &:hover {
    background: $skincolor;
    border-color: $skincolor;
    color: $white;
  }
}
.btn-lg {
    padding: 0rem 2.4375rem;
    line-height: 3.375rem;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.button-group{
  padding:5px;
}

/*=============fontawesome==================*/
.gallery{
  color:$skincolor;
}

/*==========Border Colors============*/

.brd-primary{
 border-color: $skincolor;

}
.brd-white{
  border: $white;
}

/*==========Chevron Up============*/
#return-to-top{
  cursor: pointer;
  background: $ruby;
  bottom: 40px;
  right:40px;
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px 0px;
  display: block;
  display: none;
  -webkit-transition: all 0.50s linear;
    -moz-transition: all 0.50s ease;
    -ms-transition: all 0.50s ease;
    -o-transition: all 0.50s ease;
    transition: all 0.50s ease;
    -webkit-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.75);
  &:hover {
    border-radius: 0px 20px;
  }
}

// #return-to-top i {
//     color: $white;
//     margin: 0;
//     font-size: 19px;
//     -webkit-transition: all 0.3s ease;
//     -moz-transition: all 0.3s ease;
//     -ms-transition: all 0.3s ease;
//     -o-transition: all 0.3s ease;
//     transition: all 0.3s ease;
// }

/*==========Quotes============*/
#get-quote{
  margin: 0 40px;
margin-bottom: 100px;
padding: 20px;
font-size: 20px;
border: 2px solid $skincolor;
box-shadow: 5px 10px #888888;
font-family: $body-font;
}
