@media(max-width: 732px){
  .first-slide{
  margin-top: 70px;
}
}

@media(min-width:414pz)and(max-width: 736px){
  .first-slide{
  margin-top: 100px;
}
}

@media(max-width:769px){
  .second-slide{
    margin-top: 150px;
  }
}
@media(max-width:511px){
  .second-slide{
    margin-top: 200px;
  }
}
// @media(min-width:320px)and(max-width: 568px){
//   .first-slide{
//   margin-top: 20px;
// }
// }
