
#json-string{
  margin-top: 10px;

}

// .json-string1{
//   // border: 2px solid $border-light;
// }

.json-string2{
  border: 2px solid $skincolor;
  box-shadow: 5px 10px #888888;
  padding-top: 15px;
}
